/** Conteneur principal **/
#main-container{
    margin-top: 5%;
}

/** Texte **/
p.centered{
    text-align: center;
}

/** Formulaire **/
#login-form.centered{
    margin: 0 auto
}

#login-form.small{
    max-width: 200px;
}

/** Bouton **/
#connection-button.centered{
    /** Utilisé pour centré le bouton de connection par rapport à son conteneur **/
    margin-left: 20%;
}