/** Conteneur principal **/
#main-container{
    margin-top: 5%;
}

/** Texte **/
p{
    text-align: center;
}

/** Formulaire **/
#login-form{
    margin: 0 auto;
    max-width: 200px;
}

/** Mot de passe oublié **/
#forgotten-password{
    text-align: right;
    font-size: 0.8em;
    color: rgba(0, 0, 177, 0.7);
    text-decoration: underline;
    cursor: pointer;
}

/** Bouton **/
#connection-button{
    /** Utilisé pour centré le bouton de connection par rapport à son conteneur **/
    margin-left: 20%;
}