/** Conteneur principal **/
#main-container{
    margin-top: 5%;
}

/** Texte **/
p{
    text-align: center;
}

/** Formulaire **/
#login-inputs{
    margin: 0 auto;
    max-width: 200px;
}

/** Mot de passe oublié **/
#mdpOublieContainer{
    position: relative;
    height: 20px;
}
#mdpOublie{
    position: absolute;
    right: 0;
    font-size: 0.8em;
    color: rgba(0, 0, 177, 0.7);
    text-decoration: underline;
    cursor: pointer;
}

/** Modal mdp oublié **/
.modal.mdpOublie .inputConteneur{
    display: block;
    width: 250px;
    margin: 0 auto;
}
.modal.mdpOublie .inputConteneur .input{
    width: 100%;
}
.modal.mdpOublie .inputConteneur .conteneurBoutons{
    position: relative;
    min-height: 40px;
    margin-top: 15px;
}
.modal.mdpOublie .inputConteneur .conteneurBoutons .button{
    width: 45%;
}

.modal.mdpOublie .inputConteneur .conteneurBoutons.actions .button.left{
    margin-left: 0;
}

/** Bouton **/
.connexion{
    margin: 0 auto;
    width: 110px;
}

/** Message d'erreur **/
#message-erreur{
    display: block;
}