<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>expeditor</display-name>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <!-- FILTRES -->
    <filter>
        <filter-name>UtilisateurFilter</filter-name>
        <filter-class>fr.eni.expeditor.filtre.UtilisateurFilter</filter-class>
    </filter>
    <!-- FILTRE MAPPING -->
    <filter-mapping>
        <filter-name>UtilisateurFilter</filter-name>
        <url-pattern>/*.jsp</url-pattern>
    </filter-mapping>

    <!-- SERVLET -->
    <servlet>
        <display-name>TestServlet</display-name>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>fr.eni.expeditor.servlet.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>EmployeServlet</display-name>
        <servlet-name>EmployeServlet</servlet-name>
        <servlet-class>fr.eni.expeditor.servlet.EmployeServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>ConsultCommandeServlet</display-name>
        <servlet-name>ConsultCommandeServlet</servlet-name>
        <servlet-class>fr.eni.expeditor.servlet.ConsultCommandeServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>GestionEmployeServlet</display-name>
        <servlet-name>GestionEmployeServlet</servlet-name>
        <servlet-class>fr.eni.expeditor.servlet.GestionEmployeServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>GestionArticleServlet</display-name>
        <servlet-name>GestionArticleServlet</servlet-name>
        <servlet-class>fr.eni.expeditor.servlet.GestionArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>EspacePersoServlet</display-name>
        <servlet-name>EspacePersoServlet</servlet-name>
        <servlet-class>fr.eni.expeditor.servlet.EspacePersoServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>ConnectionServlet</display-name>
        <servlet-name>ConnectionServlet</servlet-name>
        <servlet-class>fr.eni.expeditor.servlet.ConnexionServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>DeconnectionServlet</display-name>
        <servlet-name>DeconnectionServlet</servlet-name>
        <servlet-class>fr.eni.expeditor.servlet.DeconnexionServlet</servlet-class>
    </servlet>

    <!-- SERVLET MAPPING -->
    <servlet-mapping>
        <servlet-name>ConsultCommandeServlet</servlet-name>
        <url-pattern>/ConsultCommandeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeServlet</servlet-name>
        <url-pattern>/employe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultCommandeServlet</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionEmployeServlet</servlet-name>
        <url-pattern>/GestionEmployeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionArticleServlet</servlet-name>
        <url-pattern>/GestionArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EspacePersoServlet</servlet-name>
        <url-pattern>/EspacePersoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectionServlet</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeconnectionServlet</servlet-name>
        <url-pattern>/deconnexion</url-pattern>
    </servlet-mapping>
</web-app>